%body
  %div.row
    %div.span3
    %div.span6
      = image_tag "Drawing.png", :alt => "Logo", :style => "display:block;margin-left: auto;margin-right: auto;"
    %div.span3
  %br
  %div.row
    %div.span12{:style => "text-align:center"}
      %h1.section_header About Pick 'Em
    %br
    %div.span12{:style => "text-align:center"}
      %p{:style => "font-size:18px"} Pick 'Em is an app that provides users with the power to create customizeable College Football Pick 'Em, invite friends, and put their prediction skills to the test!
  %br
  %br
  %div.row
    %div.span12{:style => "text-align:center"}
      %h1.section_header Instructions
    %br
    %div.span12{:style => "text-align:left"}
      %h3.section_header Registration
      %ol
        %li{:style => "font-size:18px"} Visit the registration page.
        %li{:style => "font-size:18px"} Enter the requested information (Email, First/Last Name, Password) and click "Sign Up".
        %li{:style => "font-size:18px"} Check your email.  You should have received an email from "hey@pickem.com" with a confirmation link.
        %li{:style => "font-size:18px"} Click the confirmation link to confirm your account and return to Pick 'Em
    %div.span12{:style => "text-align:left"}
      %h3.section_header League Creation
      %ol
        %li{:style => "font-size:18px"} After logging in, click the "Create Leage" button at the bottom of the home page.
        %li{:style => "font-size:18px"} Enter a name league and settings for which conference, picks per week, and the email addresses of invitees.
        %li{:style => "font-size:18px"} You will be taken to the league home, from which you can perform both league member and commissioner tasks.
    %div.span12{:style => "text-align:left"}
      %h3.section_header Accepting a League Invitation
      %ol
        %li{:style => "font-size:18px"} You should receive an email from "hey@pickem.com" with an invitation link.  Click the link.
        %li{:style => "font-size:18px"} If you do not have an account, follow the registration instructions above.
        %li{:style => "font-size:18px"} Once you have an account, log in and click "Accept Invitation" to join the league.
    %div.span12{:style => "text-align:left"}
    %div.span12{:style => "text-align:left"}
      %h3.section_header Commissioner Tasks
      %ul
        %li{:style => "font-size:18px"} Set the tiebreaker game each week, or a random tiebreaker will be assigned (available before WEDNESDAY).
        %li{:style => "font-size:18px"} Update any league settings, including number of picks, conference settings, and league members.
        %li{:style => "font-size:18px"} Post any necessary announcements to league members.
    %div.span12{:style => "text-align:left"}
      %h3.section_header League Member Tasks
      %ul
        %li{:style => "font-size:18px"} Submit picks each week (available between WEDNESDAY and FRIDAY)
    %br
    %br
    %div.span12{:style => "text-align:center"}
      %h1.section_header Pick 'Em Features
    %div.span12{:style => "text-align:left"}
      %ul
        %li{:style => "font-size:18px"} Continually updates weekly games and spreads until WEDNESDAY
        %li{:style => "font-size:18px"} Users can be in up to five leagues
        %li{:style => "font-size:18px"} Within each league, users can make picks and view others' picks for each week
        %li{:style => "font-size:18px"} Continually updates scores on game days, marks your picks as correct or incorrect upon game completion
        %li{:style => "font-size:18px"} Keeps track of league standings, weekly winners, and a season winner
        %li{:style => "font-size:18px"} Leagues can be filtered into SEC, Big 10, ACC, and more!
        %li{:style => "font-size:18px"} Allows picks for regular season and bowl games
        